<!DOCTYPE html>
<head>
    <title>PROJECT CLOUDY TEMPY</title>
</head>
<body>
    <h1>Project Cloudy Tempy:</h1>
    <h2>Codename LANCELOT:</h2>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/645159/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Temperature&type=line&xaxis=Time&yaxis=Temp"></iframe>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/645159/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Humidity&type=line&xaxis=Time&yaxis=Humid"></iframe>
    <br><br>
    <h2>Codename GALAHAD:</h2>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/645132/charts/1?bgcolor=%23ffffff&color=%23178bad&dynamic=true&results=60&title=Temperature&type=line&xaxis=Time&yaxis=Temp"></iframe>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/645132/charts/2?bgcolor=%23ffffff&color=%23178bad&dynamic=true&results=60&title=Humidity&type=line&xaxis=Time&yaxis=Humid"></iframe>
    <br><br>
    <h2>Codename GAWAIN:</h2>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/644904/charts/1?bgcolor=%23ffffff&color=%23910b0b&dynamic=true&results=60&title=Temperature&type=line&xaxis=Time&yaxis=Temp"></iframe>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/644904/charts/2?bgcolor=%23ffffff&color=%23910b0b&dynamic=true&results=60&title=Humidity&type=line&xaxis=Time&yaxis=Humid"></iframe>
    <br><br>
    <h2>Codename MERLIN:</h2>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/644910/charts/1?bgcolor=%23ffffff&color=%23008000&dynamic=true&results=60&title=Temperature&type=line&xaxis=Time&yaxis=Temp"></iframe>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/644910/charts/2?bgcolor=%23ffffff&color=%23008000&dynamic=true&results=60&title=Humidity&type=line&xaxis=Time&yaxis=Humid"></iframe>
    <br><br>
</body>